# System files
thumbs.db
*.DS_Store

# Node modules (Included by user request)
# node_modules/
# **/node_modules/

# Environment variables
.env

# Angular build output
dist/
/dist
/out-tsc

# IDEs
.vscode/
.idea/

# Backend logs
npm-debug.log
logs/
*.log
